/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

*{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  }



.navigatiion_head{
  margin:20 auto;
  width: 100%;
  height:10%;
  position:fixed;
}

.navigation-list{
  float:right;
  font-size: normal;
  margin:10px;
  color: #52527a;
}

ul li{
  display:inline-block;
}

.profile {
 min-width: 360px;
 max-width: 700px;
 margin: 0 auto;
 padding-top: 120px;
}

.profile_pic{
  float: left;
  width: 250px;
  max-width: 700px;
  margin: 0 auto;
  border-radius: 50%;
}

.introduction{
  /*background: pink;*/
  padding-top: 50px;
  margin: 0px auto;
  min-width: 360px;
  max-width: 700px;
  text-align: justify;
}

.cv_table{
/*background: yellow;*/
margin: 0 auto;
}

.cv_roll{
  text-align: center;
}

button{
  margin: 50px 700px;
  border-radius: 10%;
  -webkit-transition: opacity 10s;
  -o-transition: opacity 10s;
  transition: opacity 10s;
  background-color:#ffffff;
}

button:hover {
    background-color:#cccccc;
    -webkit-box-shadow: none;
            box-shadow: none;
    cursor: pointer;
    }


.page_footer{
  clear: both;
  width: 100%;
  height: 100%;
  text-align: center;
}


.grid{
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}


.grid > *:nth-child(1){
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}


.grid > *:nth-child(2){
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}


.grid > *:nth-child(3){
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}


.grid > *:nth-child(4){
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}


.grid > *:nth-child(5){
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}


.grid > *:nth-child(6){
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}


.grid > *:nth-child(7){
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}


.grid > *:nth-child(8){
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}


.grid > *:nth-child(9){
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}


.grid__item{
  background-color:#d3d3d3;
  margin: 10px;
  border-radius: 5%;
}


.grid__item:hover{
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}


@media all and (max-width: 500px) {
  .grid {
    display: block;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    width: 100%;
  }

  h1 {
    font-size: 22px;
  }
}

@media (min-width:500) and (max-width: 750px){
  .grid {
    display: block;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    width: 100%;
    grid-gap: 10px;
  }

  h1 {
    font-size: 22px;
  }
}

@media all and (max-width:750px){
  .grid{
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    width: 100%;
 }
}

@-webkit-keyframes color-change{
  0%{
    fill:#edc655;
  }
  30%{
    fill:#f76414;
  }
  70%{
    fill:#FF0000
  }
  100%{
    fill:#DC143C;
  }
}

@keyframes color-change{
  0%{
    fill:#edc655;
  }
  30%{
    fill:#f76414;
  }
  70%{
    fill:#FF0000
  }
  100%{
    fill:#DC143C;
  }
}

.sun {
  -webkit-animation: 10s color-change infinite alternate linear;
          animation: 10s color-change infinite alternate linear;
}


.cloud-front {
  -webkit-animation: 8s cloud-change infinite alternate linear;
          animation: 8s cloud-change infinite alternate linear;
}


@-webkit-keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
            transform: translate(446px, 48px);
  }
  to {
    -webkit-transform: translate(100px, 48px);
            transform: translate(100px, 48px);
  }
}


@keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
            transform: translate(446px, 48px);
  }
  to {
    -webkit-transform: translate(100px, 48px);
            transform: translate(100px, 48px);
  }
}

.cloud-back {
  -webkit-animation: 8s cloud-move-reverse infinite alternate linear;
          animation: 8s cloud-move-reverse infinite alternate linear;
}